.header {
  background-color: red;
  width: 100vw;
  line-height: 60px;
  // position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  .container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    &__name{
      color: #fff;
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 25px;
      font-weight: bold;
      margin-left: 60px;
      line-height: inherit;
      white-space: nowrap;
    }
    .home-list{

      &__content{
        display: flex;
        .nav-item{
          a{
            text-decoration: none;
            color: rgba(255,255,255,.5);
            font-weight: bold;
          }
          
          .nav-link{
            margin: 0 25px 0 25px;
          }
          .sr-only{
          }
        }
      }
    }
  }
}